<!-- 标签具体详情页 -->
<div class="wrap-bd">
  <h1 class="deta-hd tag-hd"><%- page.tag %>&nbsp;<span style="font-size: 22px; color: #ccc;">标签</span></h1>
  <div id="a-index">
    <% page.posts.each(function(post, i){ %>
      <div class="a-list-item">
        <div class="a-list-item-img-body">
          <a class="a-list-item-img-content" title="<%- post.title %>" href="<%- url_for(post.path) %>" style="background-image: url('<%- post.img %>');"></a>
        </div>
        <div class="a-list-item-content">
          <div class="a-list-item-content-cate">
            <%- list_tags(post.categories, { show_count: false }) %>
            <span>
              <%- date(post.date, "YYYY-MM-DD" ) %>
            </span>
          </div>
          <h1>
            <a href="<%- url_for(post.path) %>" title="<%- post.title %>">
              <%= post.title %>
            </a>
          </h1>
        </div>
      </div>
    <% }) %>
  </div>
  <!-- 底部分页 -->
  <% if (page.total > 1){ %>
  <div id="pageNav" style="clear: both;">
    <% var prev_text = __('上一页');var next_text = __('下一页') %>
    <%- paginator({
          prev_text: prev_text,
          next_text: next_text
        }) %>
  </div>
  <% } %>
</div>