<div class="wrap-content foot-content">
  <!-- S 页面底部 -->
  <div class="foot">
    <div class="foot-con">
      <span id="admin"><a href="<%- theme.sitedomain %>" target="_blank"
          title="LERNB"><%- theme.siteadmin %></a>&nbsp;&copy;<%= date(new Date(), 'YYYY') %>&nbsp;|&nbsp;</span>
      <span id="email"><a href="mailto:<%- theme.siteemail %>" title="电子邮件">lernb</a>&nbsp;|&nbsp;</span>
      <span id="server"><a href="<%- theme.serverwebsite %>" target="_blank"><%- theme.servername %></a></span>
      <% if (config.siteICP){ %><span id="siteICP"><a href="http://beian.miit.gov.cn"
          target="_blank"><%- theme.siteICP %></a></span><% } %>
    </div>
  </div>
  <!-- E 页面底部 -->
</div>