<div class="bar-item">
  <div class="t-h hRec" style="margin-bottom: 20px;">
    <h3 style="font-weight: bold; font-size: 18px;">最近</h3>
  </div>
  <% site.posts.sort('date', -1).limit(4).each(function(post){ %>
    <div id="recent-item">
      <div class="recent-item-left">
        <div class="recent-item-img-body">
          <a href="<%- url_for(post.path) %>" title="<%= post.title %>" style="background-image: url('<%- post.img %>');">
            <div class="overlay"></div>
          </a>
        </div>
      </div>
      <div class="recent-item-right">
        <div class="recent-item-content">
          <div class="recent-item-content-cate">
            <%- list_tags(post.categories, { show_count: false }) %>
          </div>
          <div class="recent-item-content-body">
            <% if(is_current(post.path)) { %>
              <a class="current" href="<%- url_for(post.path) %>" title="<%- post.title %>">
                <%= post.title %>
              </a>
            <% } else { %>
              <a class="" href="<%- url_for(post.path) %>" title="<%- post.title %>">
                <%= post.title %>
              </a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  <% }); %>
</div>